<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AdminUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".AdminChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AdminExportMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".AdminViewMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".AdminImportMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMenuActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>